
#sub-container{
    background-color: mediumaquamarine;
    padding: 40px;
}

.page-wrapper{
    background-image:url("https://cdn.wallpapersafari.com/82/86/amx9wB.jpg");
    padding: 30px;
}
header{
    text-align: center;
    font-family:"Roboto";
    font-size: larger;
    font-weight: bold;
    color: purple;

}
.summary{
    text-align: center;
    font-weight: bolder;
    background-color:silver;
}
.explanation{
    background-color: silver;
}
h2{
    border-style: dotted;
    border-width: 1px;
}
h3{
    font-size: 25px;
    font-family:"serif";
    font-weight: bold;
    color:red;
    margin-left: 10px;
    margin-bottom: 10px;
    text-decoration: underline;
}
p{
    color: black;
    font-size: 18px;
    padding: 16px;
    margin-left: 26px;
    margin-bottom: 5px;
}

/* Hover selector which changes for every action */
p:hover {
    background-color: rgb(49, 170, 207);
}

abbr{
    color:green;
}



/*For Responsive media queries */

@media screen and (min-width: 500px) {
    body {
        background-color: darkgreen;
        padding: 13px;
    }
    header{
        font-size: 30px;
    }
    p{
        font-size: 20px;
    }
}



@media screen and (max-width: 400px) {
    body {
        font-size: 22px;
        background-color: black;
    }
    header{
        text-align: center;
        font-size: 25px;
    }
    p{
        font-size: 23px;
    }
}
